.usersContainer {
  width: 520px;
  height: 100px;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-flow: column;
  justify-content: left;
  justify-items: left;
  align-items: center;
  background-color: #ffc043;
  margin-bottom: 10px;
  margin-left: 10px;
}

.userAvatar {
  width: 76px;
  border-radius: calc(100% / 2);
}

.but {
  background-color: #BBFFD7;
  border: #BBFFD7 solid 2px;
  color: #144F2C;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.but:hover {
  border: #BEBBFF solid 2px;
}

.but:active {
  background-color: #144F2C;
  border: #144F2C solid 2px;
  color: #BBFFD7;
}

.but.unfollow {
  background-color: #144F2C;
  border: #144F2C solid 2px;
  color: #BBFFD7;
}

.but.unfollow:hover {
  border: #BEBBFF solid 2px;
}

.but.unfollow:active {
  background-color: #BBFFD7;
  border: #BBFFD7 solid 2px;
  color: #144F2C;
}


.getUsers {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #BBFFD7;
  border: #BBFFD7 solid 2px;
  color: #144F2C;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
}

.getUsers:hover {
  border: #BEBBFF solid 2px;
}

.getUsers:active {
  background-color: #144F2C;
  border: #144F2C solid 2px;
  color: #BBFFD7;
}

.pagesContainer {
  margin: 5px 10px;
}

.pagesContainer span {
  margin-right: 5px;
  cursor: pointer;
}

.selectedPage {
  font-weight: bold;
}