
.item {
  color: white;
  text-decoration: none;
}

.item:link
{
  color: white;
  text-decoration: none;
}
.item:visited
{
  color: white;
  text-decoration: none;
}
.item:active
{
  color: white;
  text-decoration: none;
}

.item.active {
  color: gold;
}