.main {
  width: 100%;
  position: relative;
  margin-bottom: 70px;
}

.fonContent {
  height: 80px;
  background: url("img/profil-top-fon.png");
}
.relative {
  position: absolute;
  bottom: -60px;
  left: 25px;
}