.dialogs {
  display: grid;
  grid-template-columns: 336px 10fr;
  grid-template-rows: 104px auto;
  grid-template-areas: 
  "h h"
  "i m";
}



.dialogs .dialogsItems {
  padding: 10px;
  grid-area: i;
  background-color: #FAFBFB;
  padding: 24px;
}


